
pre.sourceCode {
   margin: 1.5em 2em 1.5em 2em;
   padding: 0em 0.5em 0em 0.5em;
   /* Maybe we'll go solarized at some point. */
   /* color: #002b36;
   background-color: #fdf6e3; */
}

.sourceCode .kw {
   color: #dc322f;
}

.sourceCode .st {
  color: #859900;
}

.sourceCode .dt {
   color: rgb(100,100,100);
}

.sourceCode .co {
   color: rgb(170,170,170);
}

.sourceCode .fu {
   color: #cb4b16;
}
