
<section class="about">
  <img class="portrait" src="img/casual.png">
  <div class="content">
    <p>I'm a software engineer working out of San Francisco, CA. Historically I've 
    tried to use Tumblr to contain my long-form writing, but I've learned that format
    is not well suited to the length or audience I court. So, I've erected this
    structure as a place to throw away larger bits of text.</p>
    <p>
    You might also like to see my 
    <a href="http://plus.google.com/117830126779727400170">Google+ Profile</a> and 
    <a href="http://twitter.com/kirindave">Twitter stream</a>,
    but I'd recommend against them. My <a href="#productions">other productions</a> are
    probably much more suited to casual observation.</p>
  </div>
</section>


<section id="posts" style="clear: both">
  <h2>Recent posts</h2>
  <ul>
    $posts$
  </ul>

  <a href="/posts.html">All posts&hellip;</a>
</section>


<section id="productions">
  <h2>Other Productions</h2>
  <p>The following may be of interest to you: <a name="productions"></a>
    <ol>
      <li> I am an amateur photographer. <a href="http://www.flickr.com/photos/davefayram/">This is my flickr.</a>
      <li> I write a lot of code, some of it open source. <a href="http://github.com/KirinDave">This is my github.</a>
      <li> My wife and I held a big wedding ceremony in 2010. <a href="http://daveandsu.com">This is that story.</a>
      <li> I put a lot of random links out on Tumblr, with almost no rhyme or reason. <a href="http://kirindave.tumblr.com">This is where I do that.</a>
      <li> I occasionally produce video content on Vimeo. <a href="http://vimeo.com/user466448">That content languishes here.</a>
      <li> I've talked about coffee, code and process on Quora. <a href="http://www.quora.com/dave-fayram">Some of that is available here.</a>
    </ol>
  </p>
</section>
