<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>$alttitle$</title>
  <meta name="description" content="The irrelevant ramblings of an irrelevant man.">
  <meta name="author" content="Dave Fayram">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://dave.fayr.am/feed.xml">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"> -->

  <!-- CSS: implied media="all" -->
  <link rel="stylesheet" href="/css/style.css?v=2">
  <link rel="stylesheet" href="/css/classic.css">

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="js/libs/modernizr-1.7.min.js"></script>

  <!-- We inject custom fonts here. -->
  <link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911&v1' rel='stylesheet' type='text/css'>
</head>

<body>

  <div id="container">
    <header>
      <h1 class="toplevel">$title$</h1>
    </header>
    <nav>
      <ul>
        <li> <a href="/media/resume-2011.pdf">Resumé</a>
        <li> <a href="/posts.html">All Posts</a>
        <li> <a href="/index.html#productions">Productions</a>
      </ul>
    </nav>

    $body$
  </div> <!--! end of #container -->


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script>window.jQuery || document.write("<script src='js/libs/jquery-1.5.1.min.js'>\x3C/script>")</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>
  <!-- end scripts-->

  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png_bg"); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->
<footer>
  &copy; Copyright 2010-2011 Dave Fayram (for all the good that will do)
</footer>
</body>
</html>
